
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Hind+Madurai:wght@300;400&family=Roboto&display=swap" rel="stylesheet"> 
    title Document
  body 
  include ./common-modules/header/header
  section.section-allRicepts.container 
    h2.section-allRicepts__title.title Все рецепты
    .section-allRicepts__wrapper
      .recipe.section-recipes__item
        .recipe__info 
            h2.recipe__title.sub-title Запеченная курица
            p.recipe__description Эти толстые панкейки похожи на маленькие суфле: внутри напоминают крем, а снаружи золотистые и хрустящие. Стопка таких панкейков прекрасно смотрится на фото.
            a.recipe__btn.button(href="./recipePage.html") Узнать рецепт
        .recipe__img-box
            img.recipe__img(src=require('./asset/pankeik.jpg')  alt="alt")
      .recipe.section-recipes__item
        .recipe__info 
            h2.recipe__title.sub-title Запеченная курица
            p.recipe__description Эти толстые панкейки похожи на маленькие суфле: внутри напоминают крем, а снаружи золотистые и хрустящие. Стопка таких панкейков прекрасно смотрится на фото.
            a.recipe__btn.button(href="./recipePage.html") Узнать рецепт
        .recipe__img-box
            img.recipe__img(src=require('./asset/pankeik.jpg')  alt="alt")
      .recipe.section-recipes__item
        .recipe__info 
            h2.recipe__title.sub-title Запеченная курица
            p.recipe__description Эти толстые панкейки похожи на маленькие суфле: внутри напоминают крем, а снаружи золотистые и хрустящие. Стопка таких панкейков прекрасно смотрится на фото.
            a.recipe__btn.button(href="./recipePage.html") Узнать рецепт
        .recipe__img-box
            img.recipe__img(src=require('./asset/pankeik.jpg')  alt="alt")
      .recipe.section-recipes__item
        .recipe__info 
            h2.recipe__title.sub-title Запеченная курица
            p.recipe__description Эти толстые панкейки похожи на маленькие суфле: внутри напоминают крем, а снаружи золотистые и хрустящие. Стопка таких панкейков прекрасно смотрится на фото.
            a.recipe__btn.button(href="./recipePage.html") Узнать рецепт
        .recipe__img-box
            img.recipe__img(src=require('./asset/pankeik.jpg')  alt="alt")
      .recipe.section-recipes__item
        .recipe__info 
            h2.recipe__title.sub-title Запеченная курица
            p.recipe__description Эти толстые панкейки похожи на маленькие суфле: внутри напоминают крем, а снаружи золотистые и хрустящие. Стопка таких панкейков прекрасно смотрится на фото.
            a.recipe__btn.button(href="./recipePage.html") Узнать рецепт
        .recipe__img-box
            img.recipe__img(src=require('./asset/pankeik.jpg')  alt="alt")
      .recipe.section-recipes__item
        .recipe__info 
            h2.recipe__title.sub-title Запеченная курица
            p.recipe__description Эти толстые панкейки похожи  на маленькие суфле: внутри напоминают крем, а снаружи золотистые и хрустящие. Стопка таких панкейков прекрасно смотрится на фото.
            a.recipe__btn.button(href="./recipePage.html") Узнать рецепт
        .recipe__img-box
            img.recipe__img(src=require('./asset/pankeik.jpg')  alt="alt")
  include ./common-modules/footer/footer
